global_defs {
	router_id ecif_sys
}

vrrp_script mysql_check {
	script "/etc/keepalived/mysql_check.sh"
	interval 10
}

vrrp_instance VI_1 {
{% if hostvars[inventory_hostname].group_names[0] == 'master' %}
    state {{keepalived.master.state}}
    priority {{keepalived.master.priority}}
{% endif %}

{% if hostvars[inventory_hostname].group_names[0] == 'slave' %}
    state {{keepalived.slave.state}}
    priority {{keepalived.slave.priority}}
{% endif %}
    interface {{keepalived.interface}}
    virtual_router_id 71

    advert_int 1
    nopreempt

    authentication {
        auth_type PASS
        auth_pass 1111
    }

    virtual_ipaddress {
        {{keepalived.virtual_ipaddress}}
    }

    track_script {
    	mysql_check
    }

    notify_master /etc/keepalived/un_read.sh
    notify_backup /etc/keepalived/to_read.sh
    notify_stop /etc/keepalived/to_read.sh
}