#!bin/bash
source {{basedir}}/.bash_profile
logfile={{basedir}}/shbin/mysql_check.log

j=1
while true
do

{{basedir}}/bin/mysql -u{{login_user}} -p{{login_password}} -e "show global status;" > /dev/null 2>&1
mysql_status=$?
ps -ef|grep mysqld|grep -v grep > /dev/null 2>&1
mysql_process=$?

if [ $mysql_status -eq 0 ] && [ $mysql_status -eq 0 ];then
echo "mysql service is ok at time [("$(date +'%Y-%m-%d_%H:%M:%S')")]." >> $logfile
exit 0

elif [ $mysql_status -ne 0 ] && [ $mysql_status -eq 0 ]; then
echo "mysql service may be hung or Concurrency is too high at time [("$(date +'%Y-%m-%d_%H:%M:%S')")]." >> $logfile
exit 0

else
if [ $j -le 5 ];then
su - mysql -c "{{basedir}}/shbin/start.sh "
else
echo "mysql service is abnormal after retries:5, keepalived vrrp will failover at time [("$(date +'%Y-%m-%d_%H:%M:%S')")]." >> $logfile

killall keepalived
break
fi
fi
sleep 1
let j++
done

