DBNAME="zntg"
CURMONTH=$(date+%Y%m)
CURDATE=$(date+%Y%m%d%H%M%S)
masterip="主机ip"
slaveip="备机ip"
virtualip="虚拟ip"

BACKUP_DIR = "{{basedir}}"/backup/$CURMONTH
BACKUP_DIR_beiji = "{{basedir}}"/backup/$CURMONTH

if [ ! -d "${BACKUP_DIR}" ]; then
   mkdir ${BACKUP_DIR}
fi

HOSTNAME=${hostname}
rip=`/sbin/ifconfig -a |grep addr|grep -v "$virtualip"| grep "inet addr"|grep -v "127.0.0.1"|awk '{print $2}'|awk -F':' '{print $2}'`

vip=`/sbin/ifconfig -a |grep eth0:0|wc -l`
if [ "$rip" = "$masterip"];then
  scpip="$slaveip"
else
  scpip="$masterip"
fi

echo "vip=[$vip],rip=[$rip],scpip=[$scpip]"

if [ $vip -eq 0 ];then
   echo "slave! to mysqldump database and clear old dump files"
   cd ${BACKUP_DIR}
   BACKUP_FILE="${BACKUP_DIR}/${HOSTNAME}_${DBNAME}_${CURDATE}.sql.gz"
   mysqldump -u{{login_user}}  -p{{login_password}} --opt ${DBNAME}|gzip -9 > ${BACKUP_FILE}
   scp -rp ${BACKUP_FILE} $scpip:${BACKUP_DIR_beiji}
else
  echo "master! not to mysqldump,only clear old dump files. "
fi
find "{{basedir}}"/backup -maxdepth 4 -name "*.sql.gz" -mtime +30 -exec rm -f {} \; -print