[mysqld]

log-bin={{basedir}}/binlog/master-bin
log-bin-index={{basedir}}/binlog/master-bin.index
log-error={{basedir}}/mysqld.error.log
pid-file={{basedir}}/mysqld.pid

{% if hostvars[inventory_hostname].group_names[0] == 'master' %}
server-id = 1
{% endif %}

{% if hostvars[inventory_hostname].group_names[0] == 'slave' %}
server-id = 2
{% endif %}

lower_case_table_names=1
binlog_format=mixed

binlog-ignore-db=mysql,test,information_schema,performance_schema
replicate-ignore-db=mysql,test,information_schema,performance_schema

slave-skip-errors=all

plugin_load = "rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
loose_rpl_semi_sync_master_enabled = 1
loose_rpl_semi_sync_slave_enabled = 1
loose_rpl_semi_sync_master_timeout = 5000

innodb_buffer_pool_size = 4G
innodb_data_file_path = ibdata1:12M:autoextend:max:2G

innodb_log_buffer_size = 64M
innodb_log_file_size = 256M
innodb_log_files_in_group = 2
innodb_file_per_table = 1

max_connections = 2000
max_connect_errors = 100000
log_bin_trust_function_creators = 1
max_allowed_packet=67108864

skip-host-cache
skip-name-resolve

max_heap_table_size = 96M
tmp_table_size = 96M

sort_buffer_size = 2M
join_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 2M

query_cache_size = 0
key_buffer_size = 8M
explicit_defaults_for_timestamp = true
relay_log = {{basedir}}/binlog/mysql_reley_bin
relay_log_purge=5
expire_logs_days = 7

sql_mode="STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8

[mysqld_safe]
log-error={{basedir}}/mysqld.error.log
pid-file={{basedir}}/mysqld.pid
datadir={{basedir}}
